<footer>
      <div class="container">
        <div class="row">
          <div class="col s12 m4 l4">
            <h5><b>Contact Us</b></h5>
            <a target="_blank" href="https://goo.gl/maps/eYfQzhHeXC5cxf1H9"><b>Abdur Rahim Memorial Trust</b><br>
              UCEP Cheyne Tower (3rd Floor) <br> 25 Segunbagicha, Ramna, Dhaka-1000</a>
            <a href="mailto:info@armtbd.org">info@armtbd.org</a>
            <a href="tel:+8809610774774">+88-09610-774774</a>
          </div>

          <div class="col s12 m3 l3 offset-m1 offset-l1">
            <h5><b>Useful Links</b></h5>
            <a class="hot-link" href="{{ 'about'|page }}">About</a>
            <a class="hot-link" href="{{ 'management'|page }}">Board of Trustees</a>
            <a class="hot-link" href="{{ 'safewater'|page }}">Providing Safe Drinking Water</a>
            <a class="hot-link" href="{{ 'healthcare'|page }}">Expanding Access to health Care</a>
            <a class="hot-link" href="{{ 'hunger'|page }}">Eliminating hunger</a>
            <a class="hot-link" href="{{ 'press'|page }}">Press</a>
            <a class="hot-link" href="{{ 'contact'|page }}">Contact</a>
          </div>

          <div class="col s12 m4 l4">
            <h5><b>Join to stay updated</b></h5>
            <div class="social-section">
              <a target="_blank" href="https://www.facebook.com/Abdur-Rahim-Memorial-Trust-106437118846274"><i class="fa-brands fa-facebook"></i></a>
              <a target="_blank" href="https://www.linkedin.com/company/abdur-rahim-memorial-trust"><i class="fa-brands fa-linkedin"></i></a>
              <a target="_blank" href="https://www.youtube.com/channel/UCufEFZw464Ea5q7pDhM-vew"><i class="fa-brands fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>